
   <div class="text-center">
    <h2 class="mt-5 mb-5">FAQ</h2>
  </div>
  <section class="container my-5" id="maincontent">
  <details>
      <summary>Como funcionan los envios?</summary>
      <div>
        El costo del envío se determina en base a la lejanía de su domicilio respecto del local. Únicamente realizamos pedidos en CABA. Los tiempos de espera son de 24 a 48 HS.
      </div>
    </details>
    <details>
      <summary>  Hay un monto de compra minima?</summary>
        <div>
          NO contamos con un monto mínimo de compra, podés pedir tantos productos como desees.
        </div>
    </details>
    <details>
      <summary>Cuando hay descuentos?</summary>
        <div>
          Todos los Martes aplicamos un 10% de descuento en pedidos que superen los $2000
        </div>
    </details>  
  </section>
