@{
    ViewData["Title"] = "Home Page";
}

    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorias destacadas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/img/lapices.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Lapices</h5>
                <p class="text-center"><a class="btn btn-success">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/img/cuadernos.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Cuadernos</h2>
                <p class="text-center"><a class="btn btn-success">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/img/resaltadores.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Resaltadores</h2>
                <p class="text-center"><a class="btn btn-success">Comprar</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
   
    <div class="container-fluid">
     
    <div class="row bg-light py-5">
    <h1 class="h1" style="text-align:center;">Productos destacados</h1>

                    
             @{
                  foreach(Producto productos in @ViewBag.producto){
                    <div class="col-12 col-md-4">
                    <div class="card">
                    <div class="center">
                        <img class="product-image" src="@productos.foto" alt="@productos.foto">
                        </div>
                        <div class="card-body">
                        <h5> <div class="data">@productos.nombre</div> </h5>
                        <h5><div class="data">$@productos.precio</div> </h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                        </div>
                    </div>
                    </div>

                   } }
                   </div>
</div>
 


        
      