USE [master]
GO
/****** Object:  Database [papeleraVipDatabase]    Script Date: 7/9/2022 11:49:01 ******/
CREATE DATABASE [papeleraVipDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'papeleraVipDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\papeleraVipDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'papeleraVipDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\papeleraVipDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [papeleraVipDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [papeleraVipDatabase]
GO
/****** Object:  User [alumno]    Script Date: 7/9/2022 11:49:01 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 7/9/2022 11:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] NULL,
	[Nombre] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 7/9/2022 11:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](48) NOT NULL,
	[direccion] [varchar](64) NOT NULL,
	[password] [varchar](16) NOT NULL,
	[mail] [varchar](64) NOT NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 7/9/2022 11:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](56) NOT NULL,
	[descripcion] [varchar](256) NULL,
	[foto] [varchar](256) NOT NULL,
	[marca] [varchar](32) NOT NULL,
	[precio] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[destacado] [bit] NULL,
	[idSubCategoria] [int] NULL,
	[idCategoria] [int] NULL,
	[foto2] [varchar](256) NULL,
	[foto3] [varchar](256) NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subCategorias]    Script Date: 7/9/2022 11:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subCategorias](
	[idSubcategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idCategoria] [int] NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[idSubcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categorias] ([idCategoria], [Nombre]) VALUES (1, N'Utiles Escolares')
INSERT [dbo].[Categorias] ([idCategoria], [Nombre]) VALUES (2, N'Insumos Computacion')
INSERT [dbo].[Categorias] ([idCategoria], [Nombre]) VALUES (3, N'Libreria Tecnica')
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([idCliente], [nombre], [direccion], [password], [mail]) VALUES (1, N'David Canovas', N'Bulnes 3060', N'David1234', N'davidcanovas@gmail.com')
INSERT [dbo].[clientes] ([idCliente], [nombre], [direccion], [password], [mail]) VALUES (4, N'Martin perez disalvo', N'Humboldt 1141', N'CoscuArmy', N'coscu@gmail.com')
INSERT [dbo].[clientes] ([idCliente], [nombre], [direccion], [password], [mail]) VALUES (5, N'Uriel Rabih', N'Yatay 240', N'RABIH', N'urielcarlosrabih@gmail.com')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([idProducto], [nombre], [descripcion], [foto], [marca], [precio], [stock], [destacado], [idSubCategoria], [idCategoria], [foto2], [foto3]) VALUES (3, N'Voligoma', N'Adhesivo Sintético Voligoma Original 30ml Por Unidad', N'https://inkgenio.com.ar/2291-large_default/voligoma-x-30-ml.jpg', N'POXIPOL', 107, 47, 1, 18, 1, N'https://librerialacentral.com.ar/wp-content/uploads/2021/10/Adhesivo-voligoma-x50ml.jpg.png', N'https://d3ugyf2ht6aenh.cloudfront.net/stores/001/636/171/products/2951-daa51798502d162aa216213638227244-640-0.jpg')
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[subCategorias] ON 

INSERT [dbo].[subCategorias] ([idSubcategoria], [nombre], [idCategoria]) VALUES (1, N'cuadernos', 1)
INSERT [dbo].[subCategorias] ([idSubcategoria], [nombre], [idCategoria]) VALUES (2, N'lapices', 1)
INSERT [dbo].[subCategorias] ([idSubcategoria], [nombre], [idCategoria]) VALUES (3, N'reglas', 1)
SET IDENTITY_INSERT [dbo].[subCategorias] OFF
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_categorias] FOREIGN KEY([idSubCategoria])
REFERENCES [dbo].[subCategorias] ([idSubcategoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_categorias]
GO
USE [master]
GO
