.product-image {
	transition: all 0.3s ease-out;
	position: relative;
	overflow: hidden;
  max-width: 200px;
  max-height: 200px;
}

.center{
  display: flex;  
  justify-content: center;  
  align-items: center;
  
} 

.container-cart{
  display: grid;
  grid-template-columns: auto 25vw auto auto auto auto auto;
  
 }

 .gc-cont{
  border-radius: 10px;
  border-color: blue;
  border-width: 10px;
 }
 
 .container-cart-total{
   background-color: #fff; 
   border-radius: 10px;
  }

  .cart-info{
    display: inline-block;
    margin-top: 1vw;
  }
  
  .cart-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 2vw;
    
  }

  .wpp{
   width: 75px; 
   height: 75px;
  }

  a.text-secondary:focus,
a.text-secondary:hover {
  text-decoration: none;
  color: #1861ac;
}

#accordion .fa-plus {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#accordion a[aria-expanded=true] .fa-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*
.card{
    margin-top: 1vh; 
    border-radius: 24px;
    border-color: #102770;
    
   }


  
.row{
 border-radius: 10px;   
}*/
